<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ serverName }} {% block title %}{% endblock %}</title>
    <meta name="keywords" content="{{keywords}}">
    <meta name="description" content="{{description}}">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="{{ site_icon }}">
    <link rel="stylesheet" href="/static/admin/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/admin/css/public.css" media="all">

    <script src="/static/admin/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
    <script src="/static/admin/js/lay-config.js?v=1.0.4" charset="utf-8"></script>

    {% block header_script %}{% endblock %}
    {% block header_style %} {% endblock %}
</head>

<body {% block body %} {% endblock %}>
    {% block main %}
    {% endblock %}
    <script>
        function uploadImg(url, formData, csrfToken, handler) {
            var $ = layui.$;
            // 发送AJAX请求
            $.ajax({
                url: url, // 替换为实际的上传目标URL
                type: "POST",
                processData: false, // 禁止jQuery处理数据
                contentType: false, // 禁止jQuery设置Content-Type
                data: formData,
                beforeSend: function (xhr) {
                    // 在请求头中添加 CSRF Token
                    xhr.setRequestHeader('Authenticity-Token', csrfToken);
                },
                success: function (response) {
                    handler(response)
                },
                error: function (xhr) {
                    var errorMessage = xhr.responseJSON ? xhr.responseJSON.msg : "上传图片失败";
                    layer.msg(errorMessage);
                }
            });
        }

        function changeHandler(cate, index, r) {
            var layer = layui.layer,
                parentWindow = parent.window,
                iframeIndex = parent.layer.getFrameIndex(window.name);

            parentWindow.refreshData(cate);
            layer.close(index);
            parent.layer.close(iframeIndex);
        }

        function deleteHandler(index, r) {
            refreshTable("currentTableId");
            layer.close(index);
        }

        function formSubmit(buttonName, url, csrfToken, successFunc, cate) {
            var form = layui.form,
                layer = layui.layer,
                $ = layui.jquery;
            //监听提交
            form.on(`submit(${buttonName})`, function (data) {
                var index = layer.alert("确认是否提交？？？", function () {
                    $.ajax({
                        url: url,
                        method: 'POST',
                        beforeSend: function (xhr) {
                            // 在请求头中添加 CSRF Token
                            xhr.setRequestHeader('Authenticity-Token', csrfToken);
                        },
                        data: data.field,
                        success: function (r) {
                            successFunc(cate, index, r)
                        },
                        error: function (jqXHR) {
                            var errorMessage = jqXHR.responseJSON ? jqXHR.responseJSON.msg : "操作失败";
                            console.error("Error:", errorMessage); // 输出详细错误信息到控制台
                            layer.msg(errorMessage);
                        }
                    })
                });
                return false;
            });
        }

        function jsonSubmit(url, csrfToken, data, successFunc) {
            var layer = layui.layer,
                $ = layui.jquery;
            var index = layer.alert("确认是否提交？？？", function () {
                $.ajax({
                    url: url,
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authenticity-Token': csrfToken,
                    },
                    data: JSON.stringify(data),
                    success: function (r) {
                        successFunc(index, r)
                    },
                    error: function (xhr) {
                        var responseJSON = $.parseJSON(xhr.responseText);
                        var errorMessage = responseJSON ? responseJSON.msg : "请求提交失败";
                        console.error("Error:", errorMessage); // 输出详细错误信息到控制台
                        layer.msg(errorMessage);
                    }
                })
            });
        }


        function refreshTable(element, parmas) {
            layui.use(['table'], function () {
                var table = layui.table;
                table.reload(element, {
                    page: {
                        curr: 1
                    },
                    where: parmas,
                }, 'data');
            });
        }

        function openNewWindow(url, title) {
            var layer = layui.layer,
                $ = layui.$;
            var index = layer.open({
                title: title,
                type: 2,
                shade: 0.2,
                maxmin: true,
                shadeClose: true,
                area: ['100%', '100%'],
                content: url,
            });
            $(window).on("resize", function () {
                layer.full(index);
            });
        }

        function updateSelectData(url, nameKey, valKey, obj) {
            var $ = layui.$;
            $.ajax({
                url: url,
                method: 'GET',
                success: function (r) {
                    var transformedArray = r.data.map(function (item) {
                        return { "name": item[nameKey], "value": item[valKey] };
                    });
                    obj.update({
                        data: transformedArray
                    })
                }
            })
        }

    </script>

    {% block footer_script %}
    {% endblock %}
</body>

</html>