{% extends "admin/public/base.html" %}

{% block header_script %}
<link rel="stylesheet" href="/static/admin/css/ImgCropping.css" media="all">
<link rel="stylesheet" href="https://cdn.staticfile.org/cropper/3.1.3/cropper.min.css" media="all">
{% endblock %}
{% block main %}
<div class="layui-form layuimini-form">
    <div class="layui-form-item">
        <label class="layui-form-label required">文集名</label>
        <div class="layui-input-block">
            <input type="text" name="name" lay-verify="required" lay-reqtext="名称不能为空" placeholder="请输入名称"
                value="{{collection.Name}}" class="layui-input">
            <tip>填写文集名称</tip>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">作者</label>
        <div class="layui-input-block">
            <input type="text" name="author" lay-verify="required" lay-reqtext="名称不能为空" placeholder="请输入名称"
                value="{{collection.Author}}" class="layui-input">
            <tip>填写作者名称</tip>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>
</div>
{% endblock %}

{% block footer_script %}
<script>
    var csrfToken = "{{ csrfToken }}";
    var collectionId = "{{collection.ID}}"

    layui.use(['form'], function () {

        formSubmit("saveBtn", `/admin/collection/edit/?id=${collectionId}`, csrfToken, changeHandler, "collection");

    });
</script>
{% endblock %}