{% extends "admin/public/base.html" %}

{% block header_script %}
<script src="https://cdn.staticfile.org/Sortable/1.10.2/Sortable.min.js"></script>
{% endblock %}
{% block header_style %}

<style>
    body {
        background-color: #ffffff;
    }

    .row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .list-group {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
    }

    .col {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .list-group-item:first-child {
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
    }

    .list-group-item {
        position: relative;
        display: block;
        padding: .75rem 1.25rem;
        margin-bottom: -1px;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, .125);
    }

    .list-group-item:first-child {
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }

    .list-group-item:last-child {
        margin-bottom: 0;
        border-bottom-right-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
    }

    .list-group-item:hover,
    .list-group-item:focus {
        z-index: 1;
        text-decoration: none;
    }

    .list-group-item.disabled,
    .list-group-item:disabled {
        color: #6c757d;
        pointer-events: none;
        background-color: #fff;
    }

    .list-group-item.active {
        z-index: 2;
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
    }

    .toc-close {
        display: none;
    }
</style>

{% endblock %}
{% block main %}

<div class="layui-card">
    <div class="layui-card-body">
        <div class="layui-row" style="padding-left:15px;">
            <span class="layui-breadcrumb" lay-separator=">">
                <a href="">文集管理</a>
                <a><cite>文档排序</cite></a>
            </span>
        </div>
    </div>
</div>

<div class="layui-card">
    <div class="layui-card-body">
        <div class="layui-card-header" style="margin-bottom: 10px;">
            <div class="layui-row">
                <span style="font-size:18px;">文集：{{collection.Name}}</span>
                <button type="button" class="layui-btn" style="float: right;" id="save-sort-btn">保存排序</button>
            </div>
        </div>

        <div class="layui-row">
            <div id="nested" class="row">
                <ul id="nestedDemo" class="list-group col nested-sortable">
                    {% for value in toc_list %}
                    <li data-sortable-id="{{value.ID}}" class="list-group-item"><i
                            class="iconfont mrdoc-icon-wendang"></i> {{value.Title}}
                        {% if value.Children %}
                        <i class="layui-icon layui-icon-down switch-toc"></i>
                        <ul class="list-group nested-sortable">
                            {% for node in value.Children %}
                            <li data-sortable-id="{{node.ID}}" class="list-group-item"><i
                                    class="iconfont mrdoc-icon-wendang"></i> {{node.Title}}
                                {% if node.Children %}
                                <i class="layui-icon layui-icon-down switch-toc"></i>
                                <ul class="list-group nested-sortable">
                                    {% for doc in node.Children %}
                                    <li data-sortable-id="{{doc.ID}}" class="list-group-item"><i
                                            class="iconfont mrdoc-icon-wendang"></i> {{doc.Title}}
                                        <ul class="list-group nested-sortable"></ul>
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% else %}
                                <ul class="list-group nested-sortable"></ul>
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <ul class="list-group nested-sortable"></ul>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block footer_script %}
<script>
    var $ = layui.$
    // 设置全局的请求头信息
    $.ajaxSetup({
        headers: {
            'Authenticity-Token': "{{csrfToken}}",
        }
    });
    // 文档动态排序
    function docSort() {
        // Nested demo
        var nestedSortables = [].slice.call(document.querySelectorAll('.nested-sortable'));
        // Loop through each nested sortable element
        for (var i = 0; i < nestedSortables.length; i++) {
            new Sortable(nestedSortables[i], {
                group: {
                    name: 'docsort',
                    pull: function (event) {
                        var deep = event.el.parentNode.parentNode.parentNode.parentNode.className
                        if (deep == 'list-group nested-sortable') return false;
                        return true;
                    },
                },
                animation: 150,//定义排序动画的时间
                fallbackOnBody: true, // 将cloned DOM 元素挂到body元素上
                invertSwap: true,
                swapThreshold: 0.65,
                onAdd: function (evt) {
                    let current_ele = $(evt.item)
                }
            });
        }
    };
    // 获取排序值
    const nestedQuery = '.nested-sortable';
    const identifier = 'sortableId';
    const root = document.getElementById('nestedDemo');
    function serialize(sortable, parnetId) {
        var serialized = [];
        var children = [].slice.call(sortable.children);
        for (var i in children) {
            var nested = children[i].querySelector(nestedQuery);
            var id = parseInt(children[i].dataset[identifier])
            serialized.push({
                id: id,
                order: parseInt(i),
                children: nested ? serialize(nested, id) : [],
                parent_id: parnetId
            });
        }
        return serialized
    }
    function getLevel() {
        console.log(serialize(root, 0))
    };
    // 展开收起左边目录
    $(function () {
        $("body").on('click', '.switch-toc', SwitchToc)
    });
    function SwitchToc(i) {
        var $me = $(this);
        $(this).next("ul").toggleClass("toc-close"); //切换展开收起样式
        $(this).toggleClass("layui-icon-left layui-icon-down");//切换图标
    };
    // 保存排序
    $("#save-sort-btn").on('click', function () {
        $.ajax({
            url: "/admin/collection/toclist?collection_id={{collection.ID}}",
            method: 'POST',
            data: JSON.stringify(serialize(root, 0)),
            headers: {
                'Content-Type': 'application/json'
            },
            success: function (r) {
                layer.msg("完成文集排序", function () {
                    var iframeIndex = parent.layer.getFrameIndex(window.name);
                    parent.layer.close(iframeIndex);
                })
            },
            error: function (jqXHR) {
                var errorMessage = jqXHR.responseJSON ? jqXHR.responseJSON.msg : "更新文集失败";
                console.error("Error:", errorMessage); // 输出详细错误信息到控制台
                layer.msg(errorMessage);
            }
        })
    })
    docSort();
</script>
{% endblock %}