{% extends "blog/post.html" %}

{% block script_article_list %}
<script src="https://cdn.staticfile.org/Sortable/1.10.2/Sortable.min.js"></script>
<style>
    /* 目录链接划过样式 */
    #tocList a:hover {
        color: #dc3545 !important;
    }
    #current_article{
        color: #dc3545 !important;
    }
    .toc-close {
        display: none;
    }
    #tocList {
        width: 100%;-ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    } 
</style>
<script>
    // 展开收起左边目录
    $(function () {
        $("body").on('click', '.switch-toc', SwitchToc)
    });
    function SwitchToc(i) {
        var $me = $(this);
        $(this).next("ul").toggleClass("toc-close"); //切换展开收起样式
        $(this).toggleClass("bi bi-caret-left");//切换图标
    };
</script>
{% endblock %}

{% block side_article_list %}
<section id="articles" class="mb-lg-4 mb-5">
    <div class="card">
        <div class="card-header"><i class="fas fa-list-ul mr-2"></i>文章列表</div>
        <div class="card-body p-0"  style="height: 300px;overflow-y: auto;overflow-x: hidden;">
            <div id="nested" class="row">
                {{ toc_list_html|safe }}
            </div>
        </div>
    </div>
</section>
{% endblock %}