{% extends "admin/public/base.html" %}

{% block header_script %}
<script src="/static/admin/js/xm-select.js" charset="utf-8"></script>
{% endblock %}

{% block main %}

<div class="layuimini-container">
    <div class="layuimini-main">

        <div class="layui-tab layui-tab-card">
            <ul class="layui-tab-title">
                <li class="layui-this">博客</li>
                <li>文档</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <fieldset class="table-search-fieldset">
                        <legend>搜索信息</legend>
                        <div style="margin: 10px 10px 10px 10px">
                            <form class="layui-form layui-form-pane" action="">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">文档名</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="keyword" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">分类</label>
                                        <div id="category" class="layui-input-inline layui-form" style="width: 450px;">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <button type="submit" class="layui-btn layui-btn-primary" lay-submit
                                            lay-filter="blog-search-btn"><i class="layui-icon"></i> 搜 索</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </fieldset>

                    <script type="text/html" id="blogToolBar">
                    <div class="layui-btn-container">
                        <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 添加 </button>
                        <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> 删除 </button>
                    </div>
                    </script>

                    <table class="layui-hide" id="blogTableId" lay-filter="blogTableFilter"></table>

                    <script type="text/html" id="blogTableBar">
                    <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
                    <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
                    </script>
                </div>
                <div class="layui-tab-item">
                    <fieldset class="table-search-fieldset">
                        <legend>搜索信息</legend>
                        <div style="margin: 10px 10px 10px 10px">
                            <form class="layui-form layui-form-pane" action="">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">文档名</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="keyword" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">文集</label>
                                        <div id="collection" class="layui-input-inline layui-form"
                                            style="width: 450px;">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <button type="submit" class="layui-btn layui-btn-primary" lay-submit
                                            lay-filter="doc-search-btn"><i class="layui-icon"></i> 搜 索</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </fieldset>

                    <script type="text/html" id="docToolBar">
                    <div class="layui-btn-container">
                        <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 添加 </button>
                        <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> 删除 </button>
                    </div>
                    </script>

                    <table class="layui-hide" id="docTableId" lay-filter="docTableFilter"></table>

                    <script type="text/html" id="docTableBar">
                    <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
                    <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
                    </script>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block footer_script %}
<script>
    var csrfToken = "{{ csrfToken }}";

    var category = xmSelect.render({
        el: '#category',
        radio: true,
        name: "categoryId",
        filterable: true,
        toolbar: { show: true },
        data: [],
    });

    var collection = xmSelect.render({
        el: '#collection',
        radio: true,
        name: "collectionId",
        filterable: true,
        toolbar: { show: true },
        data: [],
    });

    updateSelectData("/admin/api/category", "name", "ID", category);
    updateSelectData("/admin/api/collection", "name", "ID", collection);

    function refreshData(type) {
        if (type === "blog") {
            refreshTable("blogTableId")
        } else {
            refreshTable("docTableId")
        }
    }
    function deleteBlogHandler(index, r) {
        refreshTable("blogTableId");
        layer.close(index);
    }

    function deleteDocHandler(index, r) {
        refreshTable("docTableId");
        layer.close(index);
    }

    layui.use(['form', 'table'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;

        table.render({
            elem: '#blogTableId',
            toolbar: '#blogToolBar',
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            url: "/admin/api/article?type=0",
            cols: [[
                { type: "checkbox", width: 50 },
                { field: 'id', width: 80, title: 'ID', sort: true },
                { field: 'title', width: 355, title: '文档名' },
                { field: 'category_name', width: 135, title: '分类' },
                { title: '操作', minWidth: 150, toolbar: '#blogTableBar', align: "center" }
            ]],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 10,
            page: true,
            skin: 'line'
        });

        // 监听搜索操作
        form.on('submit(blog-search-btn)', function (data) {
            console.log(111)
            console.log(data.field)
            refreshTable("blogTableId", { "keyword": data.field.keyword, "type": data.field.type, "categoryId": data.field.categoryId });
            return false;
        });
        /**
         * toolbar监听事件
         */
        table.on('toolbar(blogTableFilter)', function (obj) {
            if (obj.event === 'add') {
                openNewWindow('/admin/article/edit/?article_type=blog', '编辑文档');
            } else if (obj.event === 'delete') {  // 监听删除操作
                var checkStatus = table.checkStatus('blogTableId'),
                    articleIDs = checkStatus.data.map(item => item.id);
                jsonSubmit("/admin/article/delete/", csrfToken, { "articleIDs": articleIDs }, deleteBlogHandler);
            }
        });

        table.on('tool(blogTableFilter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') {
                openNewWindow(`/admin/article/edit?id=${obj.data.id}&article_type=blog`, '编辑文档');
            } else if (obj.event === 'delete') {
                jsonSubmit("/admin/article/delete/", csrfToken, { "articleIDs": [obj.data.id] }, deleteBlogHandler);
            }
        });


        table.render({
            elem: '#docTableId',
            toolbar: '#docToolBar',
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            url: "/admin/api/article?type=1",
            cols: [[
                { type: "checkbox", width: 50 },
                { field: 'id', width: 80, title: 'ID', sort: true },
                { field: 'title', width: 255, title: '文档名' },
                { field: 'collection_name', width: 255, title: '文集' },
                { title: '操作', minWidth: 150, toolbar: '#docTableBar', align: "center" }
            ]],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 10,
            page: true,
            skin: 'line'
        });

        // 监听搜索操作
        form.on('submit(doc-search-btn)', function (data) {
            refreshTable("docTableId", { "keyword": data.field.keyword, "type": data.field.type, "collectionId": data.field.collectionId });
            return false;
        });
        /**
         * toolbar监听事件
         */
        table.on('toolbar(docTableFilter)', function (obj) {
            if (obj.event === 'add') {
                openNewWindow('/admin/article/edit/?article_type=doc', '编辑文档');
            } else if (obj.event === 'delete') {  // 监听删除操作
                var checkStatus = table.checkStatus('docTableId'),
                    articleIDs = checkStatus.data.map(item => item.id);
                jsonSubmit("/admin/article/delete/", csrfToken, { "articleIDs": articleIDs }, deleteDocHandler);
            }
        });

        table.on('tool(docTableFilter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') {
                openNewWindow(`/admin/article/edit?id=${obj.data.id}&article_type=doc`, '编辑文档');
            } else if (obj.event === 'delete') {
                jsonSubmit("/admin/article/delete/", csrfToken, { "articleIDs": [obj.data.id] }, deleteDocHandler);
            }
        });
    });
</script>

{% endblock %}