{% extends "admin/public/base.html" %}

{% block header_script %}
<script src="https://cdn.staticfile.org/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
<script src="https://cdn.staticfile.org/Sortable/1.10.2/Sortable.min.js"></script>
<script src="/static/admin/js/xm-select.js" charset="utf-8"></script>
{% endblock %}

{% block main %}
<!-- 导入本地文档到文集 -->
<div class="layui-row layui-col-space10">
    <!-- 文集设置 -->
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-body">
                <div class="layui-card-header" style="margin-bottom: 10px;">
                    <span style="font-size:18px;">导入设置</span>
                </div>
                <div>
                    <div class="layui-tab layui-tab-card" lay-filter="test-hash">
                        <ul class="layui-tab-title">
                            <li class="layui-this" lay-id="blog">博客分类</li>
                            <li lay-id="doc">文档文集</li>
                        </ul>
                        <div class="layui-tab-content">
                            <div class="layui-tab-item layui-show">
                                <div class="layui-form layuimini-form" lay-filter="category-settings">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label required">类别</label>
                                        <div id="category" class="layui-input-inline layui-form" style="width: 450px;">
                                        </div>
                                        <button id="add-category"
                                            class="layui-btn layui-btn-normal open-window">添加</button>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-tab-item">
                                <div class="layui-form layuimini-form" lay-filter="collection-settings">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label required">文集</label>
                                        <div id="collection" class="layui-input-inline layui-form"
                                            style="width: 450px;"></div>
                                        <button id="add-collection"
                                            class="layui-btn layui-btn-normal open-window">添加</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 文件上传 -->
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-body">
                <div class="layui-card-header" style="margin-bottom: 10px;">
                    <span style="font-size:18px;">文档上传</span>
                </div>
                <div>
                    <button
                        style="width: 100%;min-height: 113px;border-style:dashed;border-color: #999;cursor: pointer;"
                        type="button" id="import-local-doc">
                        <i class="layui-icon layui-icon-addition" style="font-size: 40px;color:#999"></i><br>
                        点击上传本地markdown文档
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer_script %}
<script>
    function refreshData(key) {
        switch (key) {
            case "category":
                updateSelectData("/admin/api/category", "name", "ID", category);
                break;
            case "collection":
                updateSelectData("/admin/api/collection", "name", "ID", collection);
                break;
        }
    };
    var category = xmSelect.render({
        el: '#category',
        radio: true,
        name: "categoryId",
        filterable: true,
        toolbar: { show: true },
        data: [],
    })
    var collection = xmSelect.render({
        el: '#collection',
        radio: true,
        name: "collectionId",
        filterable: true,
        toolbar: { show: true },
        data: [],
    })
    var articleType = "blog";
    updateSelectData("/admin/api/category", "name", "ID", category);
    updateSelectData("/admin/api/collection", "name", "ID", collection);

    layui.use(['upload', 'form', 'layer', 'element'], function () {
        var upload = layui.upload, form = layui.form, $ = layui.$, element = layui.element;

        $.ajaxSetup({
            headers: { 'Authenticity-Token': '{{ csrfToken }}' },
        });
        // 上传文件按钮点击事件
        var uploadInst = upload.render({
            elem: '#import-local-doc', //绑定元素
            url: "/admin/system/import_mds", //上传接口
            field: "file",
            multiple: true,
            accept: 'file',
            exts: 'zip',
            before: function (obj) { //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
                if (articleType == "blog") {
                    this.data = form.val("category-settings");
                } else {
                    this.data = form.val("collection-settings");
                }
                this.data.articleType= articleType;
                layer.load(); //上传loading
            },
            done: function (res) {
                layer.closeAll();
                layer.msg("上传成功", { icon: 1 });
                //上传完毕回调
            },
            error: function (res) {
                layer.closeAll();
                layer.msg("上传失败", { icon: 2 });
            }
        });
        $("#add-collection").click(function () {
            openNewWindow("/admin/collection/edit/", "编辑文集")
        })
        $("#add-category").click(function () {
            openNewWindow("/admin/category/edit/", "编辑分类")
        })
        // 切换事件
        element.on('tab(test-hash)', function (obj) {
            articleType = this.getAttribute('lay-id');
        });
    })
</script>
{% endblock %}