{% extends "admin/public/base.html" %}

{% block header_script %}
<link rel="stylesheet" href="/static/admin/css/easymde.min.css" />
{% endblock %}

{% block main %}
<div class="layui-form layuimini-form">

    <div class="layui-form-item">
        <label class="layui-form-label required">日志</label>
        <div class="layui-input-block layui-form">
            <textarea id="detail" name="content" lay-verify="required" lay-reqtext="内容不能为空" placeholder="请输入内容"
                value=""></textarea>
            <tip>畅所欲言</tip>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>
</div>
{% endblock %}

{% block footer_script %}
<script>
    var csrfToken = "{{csrfToken}}", journalId = "{{journal.ID}}";


    layui.config({
        base: "/static/admin/js/lay-module/",
    }).extend({
        easymde: 'easymde/easymde',
    }).use(['form', 'layer', 'easymde'], function () {
        var $ = layui.$;
        // 设置全局的请求头信息
        $.ajaxSetup({
            headers: {
                'Authenticity-Token': csrfToken,
            }
        });


        const easymde = layui.easymde;
        const mde = easymde.init({
            element: document.getElementById("detail"), //文本域ID
            autosave: {
                enabled: true, //开启自动保存
                uniqueId: csrfToken, //唯一ID值，通过唯一ID值进行保存编写记录
                delay: 1000, //多少毫秒保存一次
            },
            promptURLs: true, // 如果设置为true，则会显示一个JS警报窗口，要求提供链接或图像URL。默认为false。
            renderingConfig: {
                codeSyntaxHighlighting: true, //开启代码高亮
            },
            placeholder: "|",
            //status: ["autosave", "lines", "words","cursor"], //设置为false 则禁用状态栏 默认为true 开启所有
            toolbar: [
                //展示所有工具栏,如果不指定有默认的选项。
                "bold", //黑体
                "italic", //斜体
                "strikethrough", //删除线
                "heading", //标题
                "heading-smaller", //缩小标题
                "heading-bigger", // 增大标题
                "heading-1", //小标题
                "heading-2", //中标题
                "heading-3", //大标题
                "|", //分割线
                "code", // 代码块
                "quote", //引用
                "unordered-list", // 无序列表
                "ordered-list", // 有序列表
                "clean-block", // 清除块样式
                "|", //分割线
                "link", //添加超链接
                "table", //添加表格
                "horizontal-rule", // 水平线
                "|",
                "preview", //全屏预览
                "side-by-side", //分屏预览
                "fullscreen", //全屏
                "|", //分割线
                "undo", //清空
                "redo", // 重做
                "guide", // 说明
            ],
        });
        easymde.value("{{journalContent|safe}}");
    })


    layui.use(['form'], function () {
        formSubmit("saveBtn", `/admin/journal/edit/?id=${journalId}`, csrfToken, changeHandler, "journal");
    });
</script>
{% endblock %}